.game {
  &__card {
    $self: &;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

    @media only screen and (min-width: 576px) {
      padding: 1.5rem 0;
    }

    &--selected {
      transform: rotateY(180deg);
    }

    &--match {
      background-image: none !important;
      #{ $self }--front {
        background: none;
      }
      //displays card if there's a match
      // #{ $self }--back {
      //   backface-visibility: visible;
      //   transform: rotateY(-180deg);
      //   animation: alternate 2s;
      // }
    }

    &--back,
    &--front {
      position: absolute;
      backface-visibility: hidden;
      height: 100%;
      width: 100%;
      filter: drop-shadow(5px 4px 3px #4f256c);
    }

    &--back {
      transform: rotateY(180deg);
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 0.3rem;
      background-size: contain;
      #{ $self }[data-name="ankha"] & {
        background-color: #0a499f;
        background-size: 65%;
      }
      #{ $self }[data-name="aurora"] & {
        background-color: #fa6456;
        background-size: 95%;
      }
      #{ $self }[data-name="beau"] & {
        background-color: #53ddb1;
        background-size: 80%;
      }
      #{ $self }[data-name="celeste"] & {
        background-color: #fea4a0;
        background-size: 85%;
      }
      #{ $self }[data-name="coco"] & {
        background-color: #cdc566;
        background-size: 65%;
      }
      #{ $self }[data-name="fauna"] & {
        background-color: #c93852;
        background-size: 90%;
      }
      #{ $self }[data-name="jack"] & {
        background-color: #7e77c1;
        background-size: 85%;
      }
      #{ $self }[data-name="jingle"] & {
        background-color: #b90b31;
        background-size: 90%;
      }
      #{ $self }[data-name="kk"] & {
        background-color: #b85c39;
        background-size: 90%;
      }
      #{ $self }[data-name="merengue"] & {
        background-color: #d41b3f;
        background-size: 80%;
      }
      #{ $self }[data-name="molly"] & {
        background-color: #e8a743;
        background-size: 75%;
      }
      #{ $self }[data-name="pascal"] & {
        background-color: #516c97;
        background-size: 90%;
      }
    }

    &--front {
      background: url("../../assets/diy.png") no-repeat center center / contain;
      border-radius: 0.3rem;
      z-index: 2;
      transition: all 0.4s linear;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
